<section class="login-section">
  <div class="login-form">
    <section class="login-header">
      <h1>Sign IN</h1>
      <button (click)="closeLoginModal()" class="login-btn-close">✕</button>
    </section>

    <section>
      <label for="username"></label>
      <input type="text" id="username" />
      <br />
      <br />
      <label for="password"></label>
      <input type="password" id="password" />
      <br />
      <br />
      <button class="login-btn">Sign IN</button>
    </section>
  </div>
</section>
