<section class="login-section">
  <div class="login-form">
    <section class="login-header">
      <h1>Sign IN</h1>
      <button (click)="closeLoginModal()" class="login-btn-close">✕</button>
    </section>

    <section>
      <label for="user-mail">Username / Email</label>
      <input
        type="text"
        id="user-mail"
        placeholder="Enter username / email ID"
      />
      <br />
      <br />
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter password" />
      <br />
      <br />
      <button class="login-btn">Sign IN</button>
    </section>
  </div>
</section>
