.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

.container-item {
  width: 15rem;
  height: 25rem;
  margin: 1rem;
}

.container-item img {
  width: 100%;
}

.home-header {
  text-align: center;
  color: grey;
  margin-top: 6rem;
}
