.app-container {
  max-width: 1920px;
}

.auth {
  padding: 0.75rem;
  text-align: end;
}

.auth a {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 4rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header h1 {
  margin: 0;
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.search-section {
  width: 40%;
  display: flex;
  align-items: center;
}

.search-section input {
  border: 0;
  border-bottom: 2px solid rgb(185, 184, 184);
  padding: 0.5rem;
  outline: none;
  font-size: 16px;
  color: rgb(33, 101, 97);
  width: 65%;
}

.search-section button {
  border: none;
  background-color: purple;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 2rem;
  margin: 0 1rem;
}

.search-section button:active {
  transform: scale(0.95);
}

.header input::placeholder {
  font-size: 16px;
  color: rgb(33, 101, 97);
}

.navLink {
  text-decoration: none;
  color: rgb(33, 101, 97);
  font-size: 1.25rem;
}

.navLink:hover,
.navLinkActive {
  color: rgb(4, 90, 161);
  text-decoration: underline;
}

.main-content {
  min-height: 100vh;
}

.footer {
  background-color: rgb(109, 109, 109);
  text-align: center;
  padding: 2rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

.cart-link {
  position: relative;
  font-size: 14px;
}

.cart-count {
  color: white;
  padding: 0.15rem 0.35rem;
  border-radius: 4px;
}
.cart-none {
  display: none;
}

@keyframes highlight {
  0% {
    transform: skew(0deg, 0deg);
  }
  15% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(2deg, 2deg);
  }
  45% {
    transform: skew(1deg, 1deg);
  }
  60% {
    transform: skew(0deg, 0deg);
  }
  75% {
    transform: skew(-1deg, -1deg);
  }
  75% {
    transform: skew(-2deg, -2deg);
  }
  90% {
    transform: skew(-1deg, -1deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.logo {
  background-color: purple;
  color: white;
  padding: 1rem;
  animation: highlight 1s infinite;
  border-radius: 1rem;
}

@media (min-width: 1920px) {
  main {
    display: flex;
    justify-content: center;
  }
}
