<section [ngStyle]="{ display: isLoginModalOpen ? 'block' : 'none' }">
  <app-login></app-login>
</section>

<section class="auth">
  <a (click)="openLoginModal()">Sign In / Create account</a>
</section>

<section class="header">
  <nav class="navbar">
    <a class="navLink" routerLink="/">Collections</a>
    <a class="navLink" routerLink="/">Men</a>
    <a class="navLink" routerLink="/">Women</a>
    <a class="navLink" routerLink="/">Kids</a>
  </nav>
  <h1 routerLink="/" class="logo">LEVIS <sup>PoC</sup></h1>
  <div class="search-section">
    <input
      placeholder="Tell us what's on your mind"
      [(ngModel)]="searchValue"
    />
    <button (click)="onSearch()">Search</button>
    <a>CART🛒</a>
  </div>
</section>

<section class="main-content">
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  © 2023 - 2024 LEVIS <sup>PoC</sup> Code like music ^_-
</footer>
