<div>
    <select onchange="" name="" id="">
        <option onClick="onClickHandle(this)" value="10">10</option>
        <option onClick="onClickHandle(value)" value="25">25</option>
        <option onClick="onClickHandle(value)" value="50">50</option>
        <option onClick="onClickHandle(value)" value="75">75</option>
        <option onClick="onClickHandle(value)" value="100">100</option>
    </select>
</div>

<!-- 
    <mat-paginator
  [length]="pageCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25]"
  [pageIndex]="pageIndex"
  (page)="onPageEvent($event)"
>
</mat-paginator>
 -->

<!-- <ul>
    <li *ngFor="let value of values" (click)="select(value.value)">{{value.label}}</li>
</ul> -->