<div class="spinner-container">
  <div class="center">
    <div class="squares-container">
      <div class="squares">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
      <div class="reflection">
        <div class="squares squares-2">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
        </div>
      </div>
    </div>
  </div>
</div>
