<nav class="navbar">
  <div
    *ngFor="let menuItem of menuItems; let i = index"
    class="navItem"
    (mouseenter)="onMouseEnter(i)"
    (mouseleave)="onMouseLeave()"
  >
    {{ menuItem }}

    <div
      *ngIf="showDropdown && i === activeLinkIndex"
      class="dropdown-container"
    >
      <ng-container *ngIf="menuItem === 'Collections'">
        <a routerLink="/{{ menuItem }}/hoodies">Hoodies</a>
        <a routerLink="/{{ menuItem }}/hats">Hats</a>
        <a routerLink="/{{ menuItem }}/boots">Boots</a>
        <a routerLink="/{{ menuItem }}/Shirts">Shirts</a>
        <a routerLink="/{{ menuItem }}/Pants">Pants</a>
        <a routerLink="/{{ menuItem }}/Shorts">Shorts</a>
      </ng-container>

      <ng-container *ngIf="menuItem === 'Men'">
        <a routerLink="/{{ menuItem }}/shirts">Shirts</a>
        <a routerLink="/{{ menuItem }}/pants">Pants</a>
      </ng-container>

      <ng-container *ngIf="menuItem === 'Women'">
        <a routerLink="/{{ menuItem }}/Tracks">Tracks</a>
        <a routerLink="/{{ menuItem }}/Tops">Tops</a>
        <a routerLink="/{{ menuItem }}/jeans">jeans</a>
      </ng-container>

      <ng-container *ngIf="menuItem === 'Kids'">
        <a routerLink="/{{ menuItem }}/Pants">Pants</a>
        <a routerLink="/{{ menuItem }}/hats">hats</a>
        <a routerLink="/{{ menuItem }}/jeans">jeans</a>
      </ng-container>
    </div>
  </div>
</nav>
