.navbar {
  display: flex;
}

.navItem:hover {
  color: purple;
}

.navItem {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  font-size: large;
}

.dropdown-container {
  display: none;
  position: absolute;
  top: 1.75rem;
  left: -417px;
  box-sizing: border-box;
  border-top: white;
  text-align: left;
}

.dropdown-container a {
  display: block;
  padding: 10px;
  text-decoration: underline;
  color: black;
  transition: background-color 0.3s;
  margin-right: 20px;
  margin-left: 400px;
  margin-top: 30px;
  text-align: left;
  background-color: white;
}

.dropdown-container a:hover {
  color: silver;
}

.navItem:hover .dropdown-container {
  display: block;
  border-color: silver;
}
