.facet-bg-container {
  border-bottom: 1px solid #1d1d1d;
  margin-bottom: 10px;
}
.title-clear-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-box {
  height: 20px;
  width: 20px;
  margin: 10px 5px 10px 0px;
}
label {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.show-more-container,
.show-less-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  /* border: 2px solid green; */
}
.show-more-less-button,
.clear-facet-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #1d1d1d;
}
.facet-values-container {
  margin-bottom: 10px;
}
