.main-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.facet-list-container {
  padding: 10px;
}
.results-and-pager-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.results-container {
  padding: 0 1rem;
}

app-result-list {
  display: flex !important;
  justify-content: space-between;
}

.pager-container {
  align-self: flex-end;
}
.facet-list-container {
  width: 32%;
}

.loading {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
