<p>You searched for : {{ searchedFor }}</p>

<p *ngIf="isLoading">LOADING........</p>

<section *ngIf="!isLoading" class="main-container">
  <div class="facet-list-container">
    <app-facet-list></app-facet-list>
  </div>

  <div class="results-and-pager-container">
    <div class="results-container">
      <app-result-list></app-result-list>
    </div>

    <div class="pager-container">
      <!-- <app-pager></app-pager> -->
      <app-results-per-page></app-results-per-page>
    </div>
  </div>
</section>